<div
  class="d-flex align-items-center justify-content-between p-2 mb-3 card-note"
  [ngStyle]="{ 'background-color': note.color }"
  *ngIf="note"
  (click)="displayNote()"
>
  <ng-container *ngIf="!isActive; else CompleteNote">
    <div
      [ngClass]="{
        marquee: showMarquee
      }"
    >
      <p class="m-0 note-title">{{ note.title }}</p>
    </div>
    <button class="img-trash" (click)="deleteNote()">
      <i class="fas fa-trash"></i>
    </button>
  </ng-container>
  <ng-template #CompleteNote>
    <div class="pb-2 w-100 note">
      <p class="m-0 mb-2 note-title">{{ note.title }}</p>
      <p class="m-0 mb-2 note-content">{{ note.content }}</p>
      <p class="m-0 note-date">{{ note.date }}</p>
    </div>
  </ng-template>
</div>
